@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/gilroy/Gilroy-SemiBold.ttf) format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../assets/gilroy/Gilroy-Medium.ttf) format(truetype);
  font-weight: 500;
}

:root {
  --clr-white: hsl(100, 100%, 100%);
  --clr-light-background: hsl(220, 23%, 97%);
  --clr-light-gray: hsl(0, 0%, 92%);
  --clr-dark-gray: hsl(225, 3%, 74%);
  --clr-gray: hsl(223, 3%, 46%);
  --clr-black: hsl(0, 0%, 1%);
  --clr-blue: hsl(223, 91%, 55%);
  --clr-dark-blue: hsl(223, 91%, 45%);
  --clr-light-red: hsl(0, 100%, 98%);
  --clr-red: hsl(0, 69%, 56%);
}

* {
  margin: 0;
  padding: 0;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ------------------------------------------ General --------------------------------------------- */

body {
  font-family: 'Gilroy', sans-serif;
}

button:hover {
  cursor: pointer;
}

th {
  display: flex;
}

.mg-inline {
  margin-inline: 1.5rem;
}

.p-block {
  padding-block: 1.5rem;
}

.app-container {
  border: 1.5px solid var(--clr-black);
  border-radius: 8px;
}

@media (min-width: 1080px) {
  .mg-inline {
    margin-inline: 4rem;
  }
}